@import "../../global.scss";

.schedule-page {
  &__timezone {
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    justify-self: center;

    background-color: gold;
    text-align: center;
    color: black;
    font-weight: bold;
    border-radius: $border_radius_block;
  }
}
