@import "../../../global.scss";

.chat-icon-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
  border-radius: 50%;
  background: transparent;

  &__text {
    color: $color_gray-light;
  }

  &__icon {
    @include default-icon;

    width: 1.4rem;
    height: 1.4rem;
    padding: 0.1rem 0.2rem 0.2rem 0.2rem;
    margin: 0;

    background: none;

    fill: $color_gray-dark;

    &_active {
      fill: white;
    }

    &:visited {
      fill: $color_gray-light;
    }

    &:hover {
      fill: white;
    }

    &:focus,
    &:active {
      fill: $color_gray;
    }
  }
}
