@import "../../../../../global.scss";

.play-toggle-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  border-radius: 1000000px;
  border: none;
  cursor: pointer;
  background-color: black;

  &__icon {
    @include default-icon;

    display: flex;
    justify-content: center;
    justify-items: center;

    height: 20px;
    width: 20px;

    fill: white;
  }
}
