// Global SASS variables, mixins and functions

//
// VARIABLES
//

// font-family
// Open Sans is added via Google Fonts as a web font in index.html header
$font-stack_sans: "Open Sans", Helvetica, Arial, Tahoma, Verdana, sans-serif;

// font size
$font-size_root: 15px;
$font-size_xs: 0.7rem;
$font-size_sm: 0.87rem;
$font-size_lg: 1.2rem;
$font-size_xl: 1.4rem;

$font-size_h1: 3.052rem;
$font-size_h2: 2.441rem;
$font-size_h3: 1.953rem;
$font-size_h4: 1.563rem;
$font-size_h5: 1.25rem;
$font-size_h6: 1rem;

// line-height
$line-height_xs: 1.1;
$line-height_sm: 1.3;
$line-height_md: 1.5;
$line-height_lg: 1.7;
$line-height_xl: 1.9;
$line-height_xxl: 2.1;

// colors
$color_brand_gray-0: #a8a8a8; // main text
$color_brand_gray-10: #999; // icons
$color_brand_gray-20: #808080; // tooltip
$color_brand_gray-30: #525252; // menu :hover
$color_brand_gray-40: #3f3f3f; // menu
$color_brand_gray-50: #333; // header - panel
$color_brand_gray-60: #1b1b1b; // footer - panel
$color_brand_gray-70: #1a1a1a; // forms
$color_brand_gradient-gray-0: linear-gradient(to top, #1a1a1a, #333);
$color_brand_green: #37c871;
$color_brand_gradient-green: linear-gradient(to right, #37c871, #2affd5);

$color_white: white;
$color_gray-lightest: #f2f2f2;
$color_gray-lighten: #cccccc;
$color_gray-light: #a6a6a6;
$color_gray: #808080;
$color_gray-dark: #595959;
$color_gray-darken: #333333;
$color_gray_darkest: #1a1a1a;
$color_black: black;

$color_success: #329a32;
$color_warning: #f3c50c;
$color_danger: #ff5555;
$color_info: #3ca8c3;
$color_disabled: #939dac;

$color_text-primary: $color_brand_gray-10;
$color_link: $color_gray_lighten;
$color_code-text: #333;
$color_code-bg: #f3e5d8;

$purple-gradient: linear-gradient(
  90deg,
  rgba(135, 205, 222, 1) 0%,
  rgba(80, 24, 126, 1) 100%
);
$gray-gradient: linear-gradient($color_gray_darken, #1b1b1b);

$form__box-shadow_state_initial: 0 0 0 0.2rem lighten($color_black, 88%);
$form__border_state_initial: 1px solid $color_gray;

$form__box-shadow_state_success: 0 0 0 0.2rem lighten($color_success, 48%);
$form__border_state_success: 1px solid $color_success;

$form__box-shadow_state_danger: 0 0 0 0.2rem lighten($color_danger, 50%);
$form__border_state_danger: 1px solid $color_danger;

$color_whatsapp: #25d366;
$color_skype: #00aff0;
$color_viber: #665cac;
$color_facebook: #1877f2;
$color_github: #161514;
$color_instagram: #000;
$color_odnoklassniki: #f68634;
$color_telegram: #0088cc;
$color_twitter: #55acee;
$color_youtube: #ff0000;
$color_vkontakte: #4680c2;

// media Quaries
$screen-xs: 0 !default;
$screen-sm: 480px !default;
$screen-md: 768px !default;
$screen-lg: 992px !default;
$screen-xl: 1200px !default;
$screen-xxl: 1800px !default;

// z-indexes
$zindex-dropdown: 1000 !default;
$zindex-sticky: 1020 !default;
$zindex-fixed: 1030 !default;
$zindex-modal-backdrop: 1040 !default;
$zindex-modal: 1050 !default;
$zindex-popover: 1060 !default;
$zindex-tooltip: 1070 !default;

// other
$border_radius: 15px !default;
$content-max-width: 20rem;

//
// MIXINS
//

@mixin default-icon {
  box-sizing: border-box;
  margin: 0;
  /* Paths and strokes that overflow the viewBox can show in IE11. */
  overflow: hidden;
  transition: fill 0.2s ease, background-color 0.2s ease;
  outline: none;
  cursor: pointer;
}
