_source
*.env
*.log
redis_data
postgres-data
volume
node_modules/
package-lock.json
_source/
*.wav
*.mp3
*.env
build
# dist

!.gitignore
!.gitattributes
!.prettierrc
!.eslintrc.js
!.eslintignore
!.dockerignore
