_source/
*.env
*.log
redis_data/
mongodb/data/
postgres-data/ 
volume/
node_modules/
_source/
*.wav
*.mp3
*.env
build/
dist/
docker-hub-password.txt
coverage/

!.gitignore
!.gitattributes
!.prettierrc
!.eslintrc.js
!.eslintrc
!.eslintignore
!.dockerignore
