@import "../../global.scss";

.chat-page {
  margin-bottom: 3.1rem;
  margin-top: 1rem;

  &__messages-list {
    display: grid;
    row-gap: 0.5rem;

    width: 100%;
    align-content: flex-start;
  }

  &__messages-list > li:last-child {
    padding: 0;
    margin: 0;
    height: 0;
    visibility: hidden;
  }

  &__controls {
    position: fixed;
    z-index: $zindex-fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
