@import "../../global.scss";

.chat-page {
  &__messages-list {
		position: absolute;
		top: 5.4em;
		left: 0;
		bottom: 3.1rem;

    display: grid;
    row-gap: 0.5rem;
		width: 100%;
		height: auto;
		//justify-items: ;
		overflow-y: scroll;
		padding: .5rem;

		// border: 1px solid green;
	}
	
  &__controls {
	  position: absolute;
		bottom: 0;
		left: 0;
    left: 0;
		
		display: grid;
		grid-template-areas: "Message Heart";
		grid-template-columns: 1fr auto;
    align-items: center;
    column-gap: 0.2rem;
    padding: 0.4rem 0.4rem;
		width: 100%;

    background-color: $color_brand_gray-80;
    border: none;
	}
}

.scroll-to {
	list-style: none;
	padding: 0;
	margin: 0;
	height: 0;
	visibility: hidden;

	//border: 0px solid yellow;
}