{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "react-hooks",
    "prettier",
    "jsx-a11y",
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended"
  ],

  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },

  "settings": {
    "react": {
      "version": "detect"
    }
  },

  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },

  "rules": {
    "react/prop-types": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "func-names": ["error", "never"],
    "no-console": "off",
    "prettier/prettier": ["error"],
    "no-multiple-empty-lines": ["error", { "max": 4 }],
    "no-unused-vars": "off"
  }
}
