@import "../../../../global.scss";

.stream-bar-counters {
  display: grid;
  grid-template-areas: "Listeners Hearts";
  column-gap: 1rem;
  justify-content: flex-end;

  &__icon {
    pointer-events: none;
  }

  &__counter {
    display: grid;
    grid-template-areas: "Icon Count";
    column-gap: 0.4rem;
    align-items: center;
  }
}
