@import "../../global.scss";

.send-chat-msg-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  background: transparent;
  border: none;
  padding: auto 1rem;
  margin: 0;
  cursor: pointer;
  transition: background-color 2s ease-in;

  // enable ':hover' only on non-touch devices
  @media (hover: hover) and (pointer: fine) {
    &:hover &__icon {
      fill: white;
    }
  }

  &__icon {
    @include default-icon;

    width: 2em;
    height: 2rem;
    padding: 0;
    margin: 0;

    fill: $color_gray-light;

    // enable ':hover' only on non-touch devices
    @media (hover: hover) and (pointer: fine) {
      &:hover &__icon {
        fill: $color_gray-lighten;
      }
    }

    &:visited,
    &:visited,
    &:focus {
      fill: $color_gray-lighten;
    }

    &:active {
      fill: white;
    }
  }
}
