@import "../../global.scss";

.app {
  position: relative;

  width: 100%;
  background-color: black;

  &__header {
    position: fixed;
    z-index: $zindex-fixed + 1;
    top: 0;
    left: 0;
    right: 0;
  }

  &__main {
    padding: 125px 0 0 0;
    min-height: 100vh;
  }
}
