@import "../../global.scss";

.forgot-password-page {
  padding-top: 7rem;
  max-width: $content-max-width;
  margin: 0 auto;

  &__heading {
    display: flex;
    justify-content: center;

    color: white;
    font-weight: 800;
    font-size: $font-size_xl;
  }
}
