@import "../../global.scss";

.stream-bar-status {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  column-gap: 0.5rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;

  &_offline {
    color: $color_gray-light;
  }

  &_online {
    color: black;
  }

  &_offline > &__live-dot {
    border-radius: 100000px;
    background-color: $color_gray-light;
    width: 10px;
    height: 10px;
  }

  &_online > &__live-dot {
    border-radius: 100000px;
    background-color: red;
    width: 10px;
    height: 10px;
  }
}
