.no-bookmarks-msg {
  display: grid;
  justify-content: center;
  padding: 1rem 0.8rem;
  text-align: center;
  row-gap: 1rem;

  &__main-text {
    font-weight: 800;
    color: white;
  }

  &__sub-text {
    margin: 0 0 0.5rem 0;
  }

  &__icon {
    pointer-events: none;
  }

  &__btn {
    display: grid;
    justify-self: center;
  }
}
