@import "../../global.scss";

.heart-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 100000px;
  padding: 0.3rem 0.5rem 0.2rem 0.5rem;
  text-decoration: none;
  cursor: pointer;
  background-color: $color_gray-darken;
  height: 3rem;
  width: 3rem;
  transition: background-color 1s ease-out;

  &_disabled {
    background-color: $color_gray-darken;
    cursor: none;
    pointer-events: none;
  }

  &_disabled &__icon {
    fill: $color_gray-light;
    cursor: none;
    pointer-events: none;
  }

  &:active {
    background-color: red;
  }

  // enable ':hover' only on non-touch devices
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: red;
    }

    &:hover &__icon {
      fill: white;
    }
  }

  &__icon {
    @include default-icon;

    width: 2em;
    height: 2rem;
    padding: 0;
    margin: 0;

    background: none;
    fill: #ff0000;

    &:active {
      fill: white;
    }
  }
}
