@import "./global.scss";

.layout {
  height: 100%;

  font-size: $font-size_root;

  scroll-behavior: smooth;
  background-attachment: fixed;

  &__body {
    position: relative;
    min-height: 100%;
    width: 100%;

    margin: 0 auto;

    font-family: $font-stack_sans;
    color: $color_text-primary;
    line-height: 1.5;

    background-color: $color_brand_gray-80;
  }

  &__processing-box {
    padding-top: 6rem;
    max-width: $content-max-width;
    margin: 0 auto;
  }

  &__sub-page-heading {
    display: flex;
    justify-content: center;
  }
}
