/* ____________________________________________________________

   Reset CSS
   ____________________________________________________________*/

html,
body,
div,
span,
applet,
object,
iframe,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
ul,
ol,
li,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 1. Correct the line height in all browsers.
   2. Prevent adjustments of font size after orientation changes in iOS. */
html {
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Remove the gray background on active links in IE 10. */
a {
  background-color: transparent;
}

/* 1. Remove the bottom border in Chrome 57-
   2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/* Add the correct font weight in Chrome, Edge, and Safari. */
b,
strong {
  font-weight: bolder;
}

/* 1. Correct the inheritance and scaling of font size in all browsers.
   2. Correct the odd `em` font sizing in all browsers. */
kbd,
pre,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1rem; /* 2 */
}

/* Add the correct font size in all browsers. */
small {
  font-size: 80%;
}

/* Prevent `sub` and `sup` elements from affecting the line height in all 
   browsers. */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* 1. Change the font styles in all browsers.
   2. Remove the margin in Firefox and Safari. */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.2;
  margin: 0;
}

/* Show the overflow in IE.
   1. Show the overflow in Edge. */
button,
input {
  /* 1 */
  overflow: visible;
}

/* Remove the inheritance of text transform in Edge, Firefox, and IE.
   1. Remove the inheritance of text transform in Firefox. */
button,
select {
  /* 1 */
  text-transform: none;
}

/* Correct the inability to style clickable types in iOS and Safari. */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/* Remove the inner border and padding in Firefox. */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Restore the focus styles unset by the previous rule. */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/* Remove default fieldset styles */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* 1. Correct the text wrapping in Edge and IE.
   2. Correct the color inheritance from `fieldset` elements in IE.
   3. Remove the padding so developers are not caught out when they zero out 
     `fieldset` elements in all browsers*/
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera. */
progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto; /* Remove the default vertical scrollbar in IE 10+. */
  resize: vertical; /* Allow only vertical resizing of textareas */
}

/* Correct the cursor style of increment and decrement buttons in Chrome. */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* 1. Correct the odd appearance in Chrome and Safari.
   2. Correct the outline style in Safari. */
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/* Remove the inner padding in Chrome and Safari on macOS. */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* 1. Correct the inability to style clickable types in iOS and Safari.
   2. Change font properties to `inherit` in Safari. */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Add the correct display in Edge, IE 10+, and Firefox. */
details {
  display: block;
}

/* Add the correct display in all browsers. */
summary {
  display: list-item;
}

/* * Add the correct display in IE 10+.*/
template {
  display: none;
}

/* Add the correct display in IE 10. */
[hidden] {
  display: none;
}

/* Remove the gap between audio, canvas, iframes, images, videos 
   and the bottom of their containers:
   https://github.com/h5bp/html5-boilerplate/issues/440 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/* Remove text-shadow in selection highlight: 
       https://twitter.com/miketaylr/status/12228805301
   Vendor-prefixed and regular ::selection selectors cannot be combined: 
       https://stackoverflow.com/a/16982510/7133471
   Customize the background color to match your design. */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

em {
  font-style: italic;
}

ol,
ul {
  list-style-position: outside;
  list-style: disk;
}

li {
  padding-left: 0;
}

// Project-specific reset

* {
  box-sizing: border-box;
}
