@import "../../global.scss";

.schedule-item {
  display: grid;
  grid-template-areas: "Date Time Description";
  grid-template-columns: auto auto 1fr;
  column-gap: 2rem;
  padding: 1rem 0.8rem;
  border-bottom: 1px solid $color_gray-darken;
  justify-content: flex-start;
  overflow: hidden;

  &__date {
    grid-area: Date;
  }

  &__time {
    grid-area: Time;
  }

  &__description {
    grid-area: Description;
    color: $color_gray-dark;
    text-align: right;
  }
}
