@import "../../../global.scss";

.ticker {
  display: grid;
  padding: 0.6rem 0.8rem;
  align-content: center;
  line-height: $line-height_sm;
  background-color: black;
  text-align: center;
  opacity: 0.85;
  letter-spacing: 8px;
  border-bottom: 1px solid $color_gray_darken;

  font-weight: 800;
  font-size: $font-size_sm;
  color: white;
}
