@import "../../global.scss";

.ask-to-confirm-registration-page {
  max-width: 320px;
  text-align: center;

  padding: 1rem;
  display: grid;
  grid-auto-flow: row;
  row-gap: 1rem;

  &__heading {
    font-size: $font-size_h4;
    color: $color_success;
    font-weight: bold;
  }

  &__main {
    color: white;
  }
}
