@import "../../../global.scss";

.stream-bar {
  display: grid;
  grid-template-areas: "Player State Counters";
  grid-template-columns: minmax(5rem, 8rem) auto minmax(5rem, 8rem);
  justify-content: space-between;

  background-color: white;
  color: black;
  padding: 0.4rem 0.8rem;
  height: 3rem;
}
