@import "../../global.scss";

.nav-bar {
  position: relative;
  z-index: $zindex-fixed;

  height: 3rem;
  padding: 0 0.8rem 0.2rem 0.8rem;
  display: grid;
  grid-template-areas: "MenuBtn Logo AccountBtn";
  column-gap: 2rem;
  align-items: center;
  justify-content: space-between;
  background-color: black;
}
