@import "../../../global.scss";

.scheduled-broadcast {
  display: grid;
  grid-template-areas:
    "Start"
    "Line"
    "End";

  text-align: center;

  padding: 1rem 0.8rem;
  background-color: $color_brand_gray-60;
  border-radius: $border_radius_block;
  padding: 1rem;

  &__start {
    grid-area: Start;
    color: $color_gray-lighten;
  }

  &__end {
    grid-area: End;
    color: $color_gray;
  }
}
