@import "../../../global.scss";

.archive-item-controls {
  display: grid;
  row-gap: 1rem;
  border: 1px solid $color_gray-darken;
  padding: 1rem;
  margin: 1rem 0 0 0;
  overflow: hidden;

  &__input-row {
    display: grid;
    grid-template-areas:
      "Name"
      "Input";
    align-items: center;
  }

  &__grouped-btns {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1rem;
    align-items: center;
    justify-content: space-between;
  }
}
