*.env
*.md
*.code-workspace
*.gitignore
npm-debug.log
Dockerfile*
.prettierrc.js
.eslintrc.js
.eslintignore
.dockerignore
.coverage
.coverage.*

.git
.vscode
**/dist
**/doc
_source
**/node_modules
**/build
log
