@import "../../../global.scss";

.account-form {
  display: grid;
  grid-template-areas: "Row";
  padding: 1rem 0.8rem;
  row-gap: 0.8rem;

  &__details-row {
    display: grid;
    grid-template-areas: "Key Value";
    grid-template-columns: 9rem minmax(5rem, auto);
    justify-content: space-between;
    align-items: center;
  }

  &__save-btn {
    display: flex;
    justify-self: flex-end;
  }

  &__btns {
    display: flex;
    justify-content: space-between;
    margin: 3rem 0 0 0;
  }

  &__text_success {
    text-align: right;
    color: $color_success;
  }

  &__text_error {
    text-align: right;
    color: $color_danger;
  }
}
